@model List<BookingInfo>

@{
    bool isAdmin = ViewBag.IsAdmin;
}

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            @if (isAdmin)
            {
                <th>Email</th>
            }
            <th>Start date</th>
            <th>Days</th>
            <th>Car</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.Id</td>
                @if (isAdmin)
                {
                    <td>@booking.Email</td>
                }

                <td>@booking.StartDate.ToShortDateString()</td>
                <td>@booking.NumberOfDays</td>
                <td>@booking.Year @booking.Manufacturer @booking.Model</td>
                <td>$@booking.TotalCost</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Booking" asp-action="Detail" asp-route-id="@booking.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
