@model BookingDetailsViewModel

@{
    ViewBag.Title = "Booking details";
}

<h1>@ViewBag.Title</h1>

<form asp-controller="Booking" asp-action="Index" method="get">
    <div class="form-group">
        <label for="StartDate">Start Date:</label>
        <p>@Model.StartDate.ToShortDateString()</p>
    </div>
    <div class="form-group">
        <label for="EndDate">End Date:</label>
        <p>@Model.EndDate.ToShortDateString()</p>
    </div>
    <div class="form-group">
        <label for="Manufacturer">Manufacturer:</label>
        <p>@Model.Manufacturer</p>
    </div>
    <div class="form-group">
        <label for="Model">Model:</label>
        <p>@Model.Model</p>
    </div>
    <div class="form-group">
        <label for="TotalNumberOfDays">Total Number Of Days:</label>
        <p>@Model.TotalNumberOfDays</p>
    </div>
    <div class="form-group">
        <label for="TotalCost">Total Cost:</label>
        <p>@Model.TotalCost</p>
    </div>

    <div class="form-group">
        <label for="BookingNumber">Booking Number:</label>
        <p>@Model.BookingId</p>
    </div>
    <div class="form-group">
        <label for="Name">Name:</label>
        <p>@Model.Name</p>
    </div>
    <div class="form-group">
        <label for="Email">Email:</label>
        <p>@Model.Email</p>
    </div>
    <div class="form-group">
        <label for="PhoneNumber">Phone Number:</label>
        <p>@Model.PhoneNumber</p>
    </div>
</form>