@model BookingDetailsViewModel

@{
    ViewBag.Title = "Booking Details";
}

<h1 class="text-center">@ViewBag.Title</h1>

@if (Model.CancelDateTimeLocal != null)
{
    <div class="alert alert-danger" role="alert">
        This booking was cancelled on @Model.CancelDateTimeLocal.Value.ToShortDateString() at @Model.CancelDateTimeLocal.Value.ToShortTimeString() and a refund of @Model.CancelRefundAmount was issued.
    </div>
}

<div class="row justify-content-center">
    <div class="col-6">
        <div class="container bordered-form">
            <div class="row bordered-form-header align-items-center">
                <div class="col-6">
                    <h4 class="mb-0">@Model.Manufacturer @Model.Model</h4>
                </div>
                <div class="col-6 text-right">
                    <span>Booking #@Model.BookingId <br> string[date] </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-4">
                    <label class="font-weight-bold">Customer:</label>
                    <span>@Model.Name<br>@Model.Email<br>@Model.PhoneNumber</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center pt-0">
                    <label class="font-weight-bold">@Model.TotalNumberOfDays Day Rental</label>
                    <span>From @Model.StartDate.ToShortDateString()</span> to <span>@Model.EndDate.ToShortDateString()</span> <br>
                    <span class="font-italic">Pickup after 9:30AM, due by 9:00AM</span>
                </div>
            </div>
            <div class="row bordered-form-footer align-items-center">
                <div class="col-6">
                    <label class="font-weight-bold">TOTAL:</label>
                    <span>$@Model.TotalCost</span>
                </div>
                <div class="col-6 text-right">
                    @if (Model.RefundAmountIfCancelling > 0)
                    {
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancelModal">
                            Cancel Booking
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.RefundAmountIfCancelling > 0)
{
    <!-- Modal -->
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelModalLabel">Confirm Cancellation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to cancel this booking? Your refund amount will be @Model.RefundAmountIfCancelling.
                </div>
                <form class="modal-footer" asp-controller="Booking" asp-action="Cancel" method="post">
                    <input class="form-control" name="id" type="hidden" value="@Model.BookingId">
                    <input class="form-control" name="refundAmount" type="hidden" value="@Model.RefundAmountIfCancelling">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <input type="submit" value="Yes" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
}
