@model BookingStartViewModel

@{
    ViewBag.Title = "Start Booking";
}

<h1 class="text-center mb-4 mt-4">@ViewBag.Title</h1>



<div class="row justify-content-center">
    <div class="col-auto">
        <form class="date-range-form" asp-controller="Booking" asp-action="Start" method="get">
            <div>
                <span>Date:</span>
                <input type="date" value="@Model.StartDate.ToString("yyyy-MM-dd")" id="StartDate" name="StartDate" min="@DateTime.Today.ToString("yyyy-MM-dd")"> <span> to </span>
                <input type="date" value="@Model.EndDate.ToString("yyyy-MM-dd")" id="EndDate" name="EndDate" min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")">
                <input class="btn-primary mx-2" type="submit" value="Search">
            </div>
        </form>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="row align-items-center mt-3 justify-content-center">
        <div class="col-auto">
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        </div>
    </div>
}


@if (Model.Cars != null)
{
    <div class="row mt-4 justify-content-center">
        <div class="col-10">
            @if (Model.Cars.Count > 0)
            {
                <table class="table table-striped table-light">
                    <thead>
                        <tr>
                            <th>Vehicle</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var car in Model.Cars)
                        {
                            <tr>
                                <td>@car.Year  @car.Manufacturer  @car.Model</td>
                                <td>@car.PricePerDay.ToString("C") per day</td>
                                <td>
                                    <a class="btn btn-primary w-auto" asp-controller="Booking" asp-action="Confirm" asp-route-carId="@car.Id" asp-route-StartDate="@Model.StartDate.ToString("yyyy-MM-dd")" asp-route-EndDate="@Model.EndDate.ToString("yyyy-MM-dd")">Book Now</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}

