@model DeleteVehicleViewModel

@{
    ViewBag.Title = "Delete vehicle";
}

<h1>@ViewBag.Title</h1>

<form asp-controller="Admin" asp-action="DeleteVehicleConfirm" method="post" asp-route-id="@Model.Id">
    <div class="form-group">
        <label for="Year">Year:</label>
        <p>@Model.Year</p>
    </div>
    <div class="form-group">
        <label for="Manufacturer">Manufacturer:</label>
        <p>@Model.Manufacturer</p>
    </div>
    <div class="form-group">
        <label for="Model">Model:</label>
        <p>@Model.Model</p>
    </div>
    <div class="form-group">
        <label for="LicensePlate">License Plate:</label>
        <p>@Model.LicensePlate</p>
    </div>
    <div class="form-group">
        <label for="PricePerDay">Price per day:</label>
        <p>@Model.PricePerDay</p>
    </div>
    <p>Are you sure you want to delete this car?</p>
    <input type="submit" value="Delete">
</form>
