@model InventoryViewModel

@{
    ViewBag.Title = "Car Inventory";
}

<h1>@ViewBag.Title</h1>

<table class="table" style="width:80%">
    <thead class="thead-light">
        <tr>
            <th>Car</th>
            <th>License Plate</th>
            <th>Price per day</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>@car.Year @car.Manufacturer @car.Model</td>
                <td>@car.LicensePlate</td>
                <td>@car.PricePerDay</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@("#editVehicleModal" + car.Id)">Edit</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@("#deleteModal" + car.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@foreach (var car in Model.Cars)
{
    <div class="modal fade" id="@("deleteModal" + car.Id)" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the @car.Year @car.Manufacturer @car.Model with license plate @car.LicensePlate?
                </div>
                <form class="modal-footer" asp-controller="Admin" asp-action="DeleteVehicle" method="post" asp-route-id="@car.Id">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <input type="submit" value="Yes" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="@("editVehicleModal" + car.Id)" tabindex="-1" role="dialog" aria-labelledby="editVehicleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <partial name="_EditVehicleModalForm" model="@(new EditVehicleViewModel { Id = car.Id,PricePerDay = car.PricePerDay})" />
            </div>
        </div>
    </div>
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCarModal">Add</button>

<div class="modal fade" id="@("addCarModal")" tabindex="-1" role="dialog" aria-labelledby="addCarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <partial name="_AddCarModalForm" model="@(new AddVehicleViewModel())" />
        </div>
    </div>
</div>




