@model IEnumerable<Car_Renting.Models.Car>


<table class="table" style="width:80%">
    <thead class="thead-light">
        <tr>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Year</th>
            <th>Price per day</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Manufacturer</td>
                <td>@car.Model</td>
                <td>@car.Year</td>
                <td>@car.PricePerDay</td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" asp-controller="Admin" asp-action="EditVehicle" asp-route-id ="@car.Id">Edit</a>
                    <a class="btn btn-sm btn-outline-danger" asp-controller="Admin" asp-action="DeleteVehicle" asp-route-id ="@car.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Admin" asp-action="AddVehicle">Add new entry</a>