@model InventoryViewModel

@{
    ViewBag.Title = "Car inventory";
}

<h1>@ViewBag.Title</h1>

<table class="table" style="width:80%">
    <thead class="thead-light">
        <tr>
            <th>Year</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>License Plate</th>
            <th>Price per day</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>@car.Year</td>
                <td>@car.Manufacturer</td>
                <td>@car.Model</td>
                <td>@car.LicensePlate</td>
                <td>@car.PricePerDay</td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" asp-controller="Admin" asp-action="EditVehicle" asp-route-id="@car.Id">Edit</a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@("#deleteModal" + car.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@foreach (var car in Model.Cars)
{
    <div class="modal fade" id="@("deleteModal" + car.Id)" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the @car.Year @car.Manufacturer @car.Model with license plate @car.LicensePlate?
                </div>
                <form class="modal-footer" asp-controller="Admin" asp-action="DeleteVehicle" method="post" asp-route-id="@car.Id">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <input type="submit" value="Yes" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
}


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCarModal">Add</button>

<div class="modal fade" id="@("addCarModal")" tabindex="-1" role="dialog" aria-labelledby="addCarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCarModalLabel">Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <partial name="_AddCarModalForm" model="@(new AddVehicleViewModel())"/>
        </div>
    </div>
</div>

